<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block title %}
        <title>Ecoleta - Projeto Next Week Level da Rocketseat</title>
    {% endblock title %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
    {% block styles %}
    {% endblock styles %}
    
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block script %}
    {% endblock script %}
</body>
</html>